html, body {
    overflow-x: hidden; /* Horizontal scroll puri tarah band karne ke liye */
    width: 100%;
    margin: 0;
    padding: 0;
}

.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}
svg {
  width: auto;
  height: auto;
  display: inline-block;
}